body{

    background-color:teal;

}
.main{
    margin: 0;
    padding: 0;
    background-image: url(https://images.wallpaperscraft.com/image/wood_moss_broken_115777_3840x2400.jpg);
    background-size: cover;
    background-position: unset;
    color:white;
}